<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a href="{{path('homepage')}}">accueil</a></li>
        <li><a href="{{path('comp')}}">Competences</a></li>
        <li><a href="{{path('exp')}}">exp</a></li>
        <li><a href="{{asset('dip')}}">diplome</a></li>
        <li><a href="{{path('loisir')}}">loisir</a></li>
    </ul>
</nav>